<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myquranapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQuranApplication">
        <activity
            android:name=".RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Ayats"
            android:exported="true" />
        <activity
            android:name=".UrduTranslation"
            android:exported="false" />
        <activity
            android:name=".EnglishTranslation"
            android:exported="false" />
        <activity
            android:name=".SearchBySurah"
            android:exported="false" />
        <activity
            android:name=".ParaNames"
            android:exported="false" />
        <activity
            android:name=".SurahNames"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>